.SContainer{
    background-color: $colorP;
    width: 90%;

}

.sliderBody {
    background: $colorP;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    margin: 0 30px;
}

.containerSlider {
    max-width: 1000px;
    position: relative;
    padding: 5px;
    background: $colorP;
    margin: 15px auto;
    box-shadow: 0 15px 35px -15px #656565;
    border-radius: 1rem;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.sliderLink{
    position: absolute;
    z-index: 1000;
}

.slider img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.7rem;
}

#previous,
#next {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 16px;
    background: $colorW;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 25px);
    left: -20px;
    box-shadow: 0 12px 25px -9px #0041ac;
}

#next {
    left: unset;
    right: -20px;
}

@media (max-width: 480px) {

    #previous,
    #next {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        top: calc(50% - 20px);
    }
}

@media (min-width: 1200px) {

    #previous,
    #next {
        width: 60px;
        height: 60px;
        border-radius: 18px;
        top: calc(50% - 30px);
        left: -30px;
    }

    #next {
        left: unset;
        right: -30px;
    }
}