@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgc1 {
  background-color: #F2CC0F;
  top: 100px;
}

#current {
  color: #F2F2F2 !important;
}

nav #logo1 {
  position: fixed;
  width: 100px;
  top: 0px;
  left: 0px;
  z-index: 999999;
}

.container-fluid, #navBar {
  background-color: #9453A6 !important;
  position: fixed;
  width: 100% !important;
  z-index: 99999;
}

nav a {
  color: #8CBF3F !important;
  font-family: "Henny Penny", cursive;
  top: 10px;
}

.navbar-brand {
  padding-left: 100px;
}

.faqContainer {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #8CBF3F;
}

.faqHeader {
  font-family: "Pattaya";
  color: #F2CC0F;
  font-size: 2em;
}

.colContainer {
  background-color: #9453A6;
  border-radius: 10px;
}

.faqList {
  list-style: none;
}

.headerText {
  font-family: "Henny Penny", cursive;
}

.faqIntro {
  font-family: "Roboto";
  color: #0D0D0D;
}

.faqText {
  font-family: "Roboto";
  color: #0D0D0D;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  font-family: "Righteous", cursive;
  position: relative;
  background-color: #F2CC0F;
  position: fixed;
  margin-top: 55px;
  right: 0;
  border-radius: 0 0 10px 10px;
  border: 2px #9453A6 solid;
  z-index: 9999;
}

#timerText {
  position: absolute;
  top: 5px;
  font-family: "Pattaya";
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(0deg, #000 0%, #444 100%);
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
  margin: 0 4px;
  min-width: 75px;
  min-height: 85px;
  z-index: 2;
}

.countdown-item span:nth-child(1) {
  height: 33px;
}

.countdown-item span:nth-child(2) {
  font-size: 16px;
}

.SContainer {
  background-color: #9453A6;
  width: 90%;
}

.sliderBody {
  background: #9453A6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  margin: 0 30px;
}

.containerSlider {
  max-width: 1000px;
  position: relative;
  padding: 5px;
  background: #9453A6;
  margin: 15px auto;
  box-shadow: 0 15px 35px -15px #656565;
  border-radius: 1rem;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.sliderLink {
  position: absolute;
  z-index: 1000;
}

.slider img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.7rem;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #F2F2F2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  left: -20px;
  box-shadow: 0 12px 25px -9px #0041ac;
}

#next {
  left: unset;
  right: -20px;
}

@media (max-width: 480px) {
  #previous,
#next {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: calc(50% - 20px);
  }
}
@media (min-width: 1200px) {
  #previous,
#next {
    width: 60px;
    height: 60px;
    border-radius: 18px;
    top: calc(50% - 30px);
    left: -30px;
  }

  #next {
    left: unset;
    right: -30px;
  }
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 50px;
  text-align: center;
  padding-top: 10px;
  background-color: #9453A6;
}
footer div ul {
  padding: 0;
}
footer div ul li {
  list-style: none;
}
footer div ul li a {
  text-decoration: none;
  line-height: 30px;
  color: #8CBF3F;
}
footer div ul li a:hover {
  color: #F2F2F2;
}

.logo {
  grid-row: 1/2;
  grid-column: 1/2;
}

.internalLinks {
  grid-row: 1/2;
  grid-column: 2/3;
}

.socialLinks {
  grid-row: 1/2;
  grid-column: 3/4;
}

.copyright {
  grid-row: 2/3;
  grid-column: 1/span 4;
}

.mediaContainer {
  background-color: #9453A6;
  display: flexbox;
  height: 100%;
  justify-content: space-around;
  padding-top: 100px;
}
.mediaContainer .mediaAlbum {
  text-align: center;
}
.mediaContainer img {
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.indexLinks {
  background-color: #9453A6;
  margin: 10px;
  box-shadow: inset 0px 0px 15px 6px #000000;
  padding: 30px;
}
.indexLinks a {
  color: #0D0D0D;
}
.indexLinks a:hover {
  color: #F2F2F2;
}

.cardWrapper {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(4, 2fr);
  margin: auto;
}

.card {
  margin: 10px;
}

.formContainer {
  margin-right: 20%;
  margin-left: 20%;
  background-color: #9453A6;
  padding: 50px;
  text-align: center;
}
.formContainer input[type=text], .formContainer input[type=email] {
  border-radius: 10px;
  width: 50%;
  border: solid black 1px;
  padding: 5px;
}
.formContainer textarea {
  border-radius: 10px;
  width: 70%;
  border: solid black 1px;
  padding: 5px;
}
.formContainer label {
  color: #0D0D0D;
  font-weight: bold;
}
.formContainer input[type=submit] {
  padding: 5px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  color: #F2F2F2;
  background-color: #0D0D0D;
}
.formContainer input[type=submit]:hover {
  background-color: #494949;
}/*# sourceMappingURL=style.css.map */